@import url(//db.onlinewebfonts.com/c/e6a66ad34a680b8090172c85e4fece1d?family=Angsana+New);
.navbar-brand
{
    position:absolute;
    width:100%;
    left:0;
    text-align:center;
    margin:auto;
}
.acolor{
	color: aliceblue;
}
a:hover {
    color: #5B5454;
    text-decoration: underline;
}
.active{
	color: #5B5454;
}
.FondoNav{
background-color: #F47920;
border-radius: 5px;
border-bottom-right-radius: 3px;
}
.centrado{
        margin-left: auto;
        margin-right: auto;
      }

h1{
	text-align: center;
	font-size: 2rem;
	color: #005883;
	font-family: 'Angsana New Bold';
}
h2{
	text-align: center;
	color: #F47920;
	font-size: 2.5rem;
	font-family: 'Angsana New';
}
h3{
	color: #F0B429;
	text-align: left;
	font-size: 2rem;
	font-family: 'Angsana New';
}
p {
    text-align: justify;
	font-size: 1.5rem;
	color: #000000;
	font-family: 'Angsana New';
	
}
img{
display:block;
margin:auto;
}

.parrafo{
	 margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    background-color: rgba(51,51,51,0.15); /* Color white with alpha 0.9*/
    margin-bottom: 5%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 2px hsla(0,0%,28%,1.00);
    box-shadow: 5px 5px 5px 2px hsla(0,0%,28%,1.00);
}




.contenedor{
    padding: .1rem;
    background: #da6335;
}
.contenedor div{
  padding: 1rem;
  background: #92e9ec;
  border:.01rem solid #d6cbbd;
  border-top-right-radius: .5rem;
}
.collapse .navbar-collapse{
	padding: 40px;
}



.contenedor div a  { 
  text-decoration-line: none;
  color: black;

}
.Sociales ul li{
  list-style: none; 
}
.Sociales ul li .face:hover {
color: #0a0897;


}
.Sociales ul li .whats:hover:hover {
  color: #0c9717;
  
  
  }
  .Sociales ul li .twit:hover {
  color: #199ad6;
    
    
    }
    .Sociales ul li .you:hover {
    color: #d61919;
      
      
      }
      .col img{

        justify-items:center;
        margin-top:2rem;
      }
    
      .centrado{
        margin-left: auto;
        margin-right: auto;
      }

      .piepagina{
        padding:7rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-justify: center;
        
      }     
      .row .modificar{
        background: #0f0f0e;
      }
      .LetraReferencias{
        font-size: 1rem;
        font-family: 'Times New Roman';
        color: #beb0b0;
      }
      
      .BotonLink  { 
        text-decoration-line: none;
        color: black;
        
      
      }
      .BotonLink:hover  { 
        text-decoration-line: none;
        color: black;        
      }    

     

.col-sm.12.cold-md.12.col-lg.12.text-left ul {
    text-shadow: 0px 0px hsla(0,0%,0%,1.00);
}

      @media(min-width:992px){
        .tituloBienvenida{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 3rem;


        }


      }
      @media(min-width:992px){
        .piepagina{
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-size: 1rem;
          

        }


      }
.acolor {
}
